@model EasyBooking.Models.User

@{
    ViewData["Title"] = "Delete";
}
<br />
<h1>Deletar</h1>
<hr />

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex h-100">
            <div class="col-12 col-md-4 col-lg-6 col-xl-6">
                <div class="card bg-dark text-white" style="border-radius: 1rem; margin-bottom: 20px;">
                    <div class="card-body p-3">
                        <div class="mb-md-4 mt-md-3 pb-2">
                            <h3>Você tem certeza que quer apagar?</h3>
                            <hr />
                            <div>
                                <h4>Usuário</h4>
                                
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Nome)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Perfil)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Perfil)
                                    </dd>
                                </dl>

                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Delete" class="btn btn-outline-danger btn-lg px-4 mb-3" /> |
                                    <a asp-action="Index" class="btn btn-outline-light btn-lg px-4 mb-3"> <i class="bi bi-skip-backward"></i>&nbsp; Voltar</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

