@model EasyBooking.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Dados de Reserva</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraTermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmbienteDev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmbienteDev.NomeAmbiente)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>|
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> 
    
</div>
