@model IEnumerable<EasyBooking.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas de Ambientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar nova Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraTermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmbienteDev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraTermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmbienteDev.NomeAmbiente)
            </td>
            <td>
                    <a class="btn btn-warning"  asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary"  asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
