@model EasyBooking.Models.AmbienteDev

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes dos Ambiente de Teste</h1>

<div>
    <h4>AmbienteDev</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAmbiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAmbiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a> |
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a>
</div>
