@model IEnumerable<EasyBooking.Models.Reserva>

@{
    ViewData["Title"] = "Relatorio";
}

<h1>Relatorio do Ambiente: @ViewBag.Ambiente</h1>

<h3>Reservas: @ViewBag.TotalReservas</h3>
<br />
<br />
<section class="vh-100 gradient-custom">
    <div class="container p-3">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DataHoraInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataHoraTermino)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHoraInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHoraTermino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
